- var br = '<br />'
header.header-block-rich
  .text-block-rich(data-aos="flip-left")
    h1
      span Примеры
      small
           i Rich!{br}
           | Media

    p
     |Главное преимущество данного формата!{br}
     |заключается в практически неограниченных!{br}
     |возможностях интерактивности. За счёт!{br}
     |увеличения вовлечённости пользователя мы!{br}
     |достигаем высоких показателей. Rich Media!{br}
     |позволяет реализовать самые сложные механики!{br}
     |вплоть до создания мини-сайта, на котором!{br}
     |пользователь может детально ознакомиться с!{br}
     |предложением.
  .img-block-rich.cd-image-container(id="playpause" data-state="play" data-aos="fade-down")
    div
      .cd-phone-frame
      .cd-image-wrapper
        img(src="img/screen-1.jpg" data-video="video/video-1" alt="Screen Preview 1")
        //- video
        //-   source(src="video/video-1.webm" type="video/webm")
        //-   source(src="video/video-1.mp4" type="video/mp4")
        //-   source(src="video/video-1.ogv" type="video/ogg")
    //-  img(src='img/phone.png')
    //-   <div class="cd-image-container">
    //-   						<div>
    //-   							<div class="cd-phone-frame"></div>
    //-   							<div class="cd-image-wrapper">
    //-   								<img src="img/screen-1.png" data-video="video/video-1" alt="Screen Preview 1">
    //-   							</div>
    //-   						</div>
    //-   					</div>
